// views/profile.jade

extends ./layout.jade
block header
  script(src="js/nanobar.min.js")
  link(rel="stylesheet", href="/css/profile.css")
  style.



block content
  .container
    .row(style="margin-top:20px")
      .col-sm-12.col-sm-offset-3x
        h1 #[a.logo(href="/") #[i.fa.fa-sliders] S ]/ Dashboard
        hr
      .col-sm-4
        h4.lead.
          Hello #[strong #{data.user._json.nickname}! ] #[span.pull-right #[small #[a(href="/logout") Logout]]]
        hr
        p.
          Your usage quota stands at: #[strong #{data.usedStoragePerc.toFixed(2)}% ] (#{data.usedStorage} out of 1GB) from #[strong #{data.userModels.length} ]  models. You are on the #[strong #{data.userTier}] plan. 
        hr
        form.text-center(action='/api/upload', enctype='multipart/form-data', method='post')
          input#file.inputfile(type='file', accept=".zip" ,name='userModel', onchange='submitForm();')
          label(for='file')
            
            h2 + Upload +
        hr
        h4.text-center #[a(href="/download/BetaSpeckle.zip") Download the GH Export component & example file.]

      .col-sm-8
        h4.lead #[strong Uploaded Models:]
        hr
      .col-sm-8
         div.nanobarholder.text-center 
           p.text-center.nanotext  #[small Upper & Uplifting Uploading. ]
        .col-sm-8
        if data.userModels.length == 0 
          h3.text-center.strong.
            No models here :( 
            #[br]
          p.text-center.
            #[strong Have a model?] Press that big Upload button on the left, or #[a(href="/download/BetaSpeckle.zip") download the GH Export component & example file.]
        .col-sm-8
        for myModel in data.userModels
          h4.
            #[strongx #{myModel.name.replace(".zip", "")}] 
            #[span.pull-right #[small Size: #[strong #{(myModel.formatedFileSize)} ]  | Added On: #[strong #{(myModel.dateAdded)} ] | ]  #[a(href="view/s/#{myModel.urlId}").strong View] | #[a(href="/api/delete/#{myModel._id}") Delete]]         
          hr.small-hr

  
  script.
    
    var nanobar; 

    function completeHandler()
    {
      location.reload();
      //console.log("request is done");
    }

    function progressHandlingFunction(e){
      if(e.lengthComputable)
      {
        var perc = e.loaded/e.total * 100;
        nanobar.go( perc.toFixed(2)-0.5);

        $('progress').attr({value:e.loaded, max:e.total});
        if(e.loaded === e.total) {
          $(".nanotext").html("Processing the file - go for a coffee, might take a while.")
          console.log("upload is done, waiting for the server side processing");
        }
      }
    }

    function submitForm()
    {
      var formData = new FormData($("form")[0]);
      
      $("form").css("opacity", "0.3"); $("form :input").prop("disabled", true);
      $(".nanobarholder").css("display", "block");

      $.ajax({
        url: '/api/upload/',  //Server script to process data
        type: 'POST',
        xhr: function() {  // Custom XMLHttpRequest
            var myXhr = $.ajaxSettings.xhr();
            if(myXhr.upload){ // Check if upload property exists
                myXhr.upload.addEventListener('progress', progressHandlingFunction, false); // For handling the progress of the upload
            }
            return myXhr;
        },
        //Ajax events
        //beforeSend: beforeSendHandler,
        success: completeHandler,
        data: formData,
        cache: false,
        contentType: false,
        processData: false
      });
    }

    $(function(){

      nanobar = new Nanobar({
        //bg: "#60D6FF",
        bg: "#000",
        target: $(".nanobarholder")[0],
        id: 'mynano'
      });

      nanobar.go(50);

    });
  