<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
       <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,200' rel='stylesheet' type='text/css'>

    <style>
        body, h1, h2, h3, h4, h5        
        { 
            font-family: 'Roboto Slab', serif !important;
            font-weight: 400;
        }
        p {}
    </style>
</head>
<body>
<div class="container">

    <div class="page-header ">
    <h1>Future.Speckle</h1>
    <hr>
    <h4>My models</h4>
    </div>

    <div class="row">
        <div class="col-sm-12">
            
                    <p>
                        <strong>Hello, </strong> <%= user._json.nickname %>!
                        <strong>Email</strong>: <%= user._json.email %>
                        <strong>Your usage quota stands at:</strong> 35% (0.35GB/1GB) 
                        <small>In case you wanted to know, your user id is: <%= user.id %></small>
                    </p>
        </div>
        <div class="col-sm-12">
        <% for(var i=0; i<userModels.length; i++) {%>
           <hr>
           <!--- <div><%= userModels[i].name %> | model size : <%= userModels[i].fileSize %></div> -->
           <%= JSON.stringify(userModels[i]) %>
        <% } %>
        </div>

    </div>

</div>
</body>
</html>